.user-image{
    /* display: block; */
    /* max-width: 100%; */
    width: 100%;
    /* width: 200px; */
    height: 200px;
}
.repo-details{
    min-width: 70%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}