
.repository-info{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
}
.name{
    color: #4078c0;
}
.full-name{
    font-size: 12px;
}
.dot{
    height: 12px;
    width: 12px;
    background-color: #E34C31;
    border-radius: 50%;
    display: inline-block;
}
.repo-info{
    font-size: 11px;
}
.repo-lastUpdated{
    font-size: 13px;
}