
.user-info{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
    max-height: 470px;
}
.image{
    display: block;
    max-width: 100%;
    border-radius: 6px;
    width: 100%;
}